h1{
  color: #d4d4d4;
  background-color: black;
  text-align: center;
  font-size: 80px;
  line-height: 100px;
  text-shadow: 12px 4px 12px  yellow;
  font-style: italic;

}
h1:hover{
  background-color: lightblue;
}
