form{
  background-color: lightskyblue;
  width: 50%;
  margin: auto;
  padding: 30px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 5px darkslategrey;
}
legend{
  text-align: center;
  font-weight: bolder;
  color: white;
  font-family: sans-serif;
  text-shadow: 12px 4px 12px darkslategrey;
  font-size: 30px;
}
input[type=text], [type=password], [type=email], [type=tel], [type=number],select{
  width: 100%;
  height: 50px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 12px 4px 12px 4px darkslategray;
  border-width: 0;
  color: #350404;
}
input[type=text]:focus, [type=password]:focus, [type=email]:focus, [type=tel]:focus, [type=number]:focus{
  background-color: #188d91;
}
button{
  background-color: #188d91;
  width: 30%;
  height: 50px;
  border-radius: 10px;
  color: white;
  display: block;
  margin: auto;
}
button:hover{
  background-color: gray;
}
